extends layout

block content
  h1 Books by Bennett Garner

  p.
    I wrote <a href="/solutions">SOLUTIONS: Use Code to Solve Real Problems</a> to share the practical
    skills you need to be a modern web developer whether that's for a company, freelance, or bootstrapping
    your own product.

  p.
    I wrote <a href="https://www.amazon.com/50-Tweaks-Change-Your-Life-ebook/dp/B072FVCLZQ/">
    50 Tweaks to Change Your Life</a> to help people make small,
    research-backed changes to improve their lives.
