style.
  body {
    color: #ffffff;
    background-color: #33333d;
    font: 18px Helvetica, Arial, sans-serif;
  }
  h1 { color: #ff5252; font-size: 8rem; }
  a { color: #ff5252; }
  .container {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 15px;
  }
  button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #ff5252;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
  }
title SOLUTIONS: Use Code to Solve Real Problems by Bennett Garner

div.container
  h1 SOLUTIONS
  h2 Use Code to Solve Real Problems

  p.
    Cool! Looks like you've discovered my new book. It's not finished yet.
  p.
    If you want me to email you when I finish it, <a href="https://mailchi.mp/e57b9f4008fe/c074vznb9m">sign up
    for my mailing list</a>
