doctype html
html
  head
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-53023309-1"></script>
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-53023309-1');
    title= title
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',
    href='https://fonts.googleapis.com/css?family=Montserrat|Raleway|Playfair+Display')
  body
    div.container
      block content
      div.card
        p.
          Uncopyright 2019: No rights reserved - use anything on this page
          however you'd like.
        p.
          <a href="/">Home</a> | <a href="/about">About</a> |
          <a href="/#connect">Contact</a>
