doctype html
html
  head
    title= title
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',
    href='https://fonts.googleapis.com/css?family=Montserrat|Raleway|Playfair+Display')
  body
    div.container
      block content
      div(style="border-top: solid 1px #646464; margin-top: 100px;")
        p.
          Interested in something you've seen? <a href="/#connect">Get in
          touch</a>. PRs and healthy discussion welcome.
        p.
          Uncopyright 2019: No rights reserved - use anything on this page
          however you'd like. Of course, follow the licenses of all open
          source tools used in my projects (NodeJS, Express, Django,
          Flask, Bootstrap, Pug, Travis, PostgreSQL, etc)
