style.
  body {
    color: #ffffff;
    background-color: #33333d;
    font: 18px Helvetica, Arial, sans-serif;
  }
  h1 { color: #ff5252; font-size: 8rem; }
  a { color: #ff5252; }
  .container {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 15px;
  }
  button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #ff5252;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
  }
title SOLUTIONS: Use Code to Solve Real Problems by Bennett Garner

div.container
  h1 SOLUTIONS
  h2 Use Code to Solve Real Problems

  p.
    The handbook for hardworking web developers.
  p.
    How to take ideas from MVP to full-featured to scalable.
  p.
    By Bennett Garner - top writer in Software Development on Medium
  p.
    <a href="/buy_solutions"><button type="button">Buy the book - $14.99</button></a>


