body {
  margin: 0;
  padding: 0;
  width: 100%;
  font: 18px "Montserrat", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fffffd;
}

a {
  color: #ff5252;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 38px;
}

p {
  color: #646464;
}

.center {
  display: block;
  margin: 0 auto;
  overflow: auto;
}

.clear {
  clear: both;
}

.container {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 15px;
}

.display {
  margin-top: 50px;
  font-family: "Playfair Display", "Montserrat", "Lucida Grande", sans-serif;
  font-weight: normal;
  color: #080808;
}

.left {
  display: block;
  float: left;
}

.floats {
  display: block;
  overflow: auto;
}

